[data-md-color-primary=black] .md-header, [data-md-color-primary=black] .md-hero {
    background-color: black;
}

[data-md-color-primary=black] .md-tabs {
    background-color: black;
}

[data-md-color-primary=black] .md-search__input {
    background-color: gray;
}

.fwd-looking-stmt { font-size:0.9em; }